.regularButton {
  padding: 10px 22px;
  border-radius: var(--border-radius);
}

.iconButton {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  background-color: var(--section-2-background) !important;
}
