.section {
  padding: var(--spacing-2x) var(--spacing-1x);
  min-height: var(--section-mininimum-height);
}

.section:nth-of-type(1) {
  /* background: linear-gradient(white, 60%, #a1b98e); */
  background-color: bisque;
}

.section:nth-of-type(2) {
  background-color: var(--section-2-background);
}

.section:nth-of-type(3) {
  h1,
  p {
    color: var(--white);
  }

  background-color: var(--section-3-background);
}
