:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background-color: darkslategray;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  line-height: 1;
  outline: 0;
  cursor: pointer;
}
